<header class="header container">
  <div class="header-top">
    <div class="header__container">
      <div class="header__logo">
        <div class="logo"><img class="main" src="./images/logo(2).webp" alt="???" /><img class="hover"src="./images/logo-hover(2).webp" alt=""></div>
        <div class="header__title header__title_hiden">
          forkio
        </div>
      </div>
      <nav class="header__menu menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a href="#" class="menu__link ">Overview</a>
          </li>
          <li class="menu__item hight">
            <a href="#" class="menu__link">About Fork</a>
          </li>
          <li class="menu__item hight">
            <a href="#" class="menu__link">Buying Options</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Support</a>
          </li>
        </ul>
       </nav>
       <div class="header__button">
        <button type="button" class="button button_small">
          Buy Now
        </button>
      </div>
      <div class="header__burger">
        <span></span>
      </div>
    </div>
  
  </div> 
  <div class="header-body">
    <div class="app-container">
      <div class="app-container__title">Fork App</div>
      <div class="app-container__descrip">
        A Real Gamechanger In The World Of Web-Development
      </div>
      <div class="app-container__sub-title">
        v. 2.8 For Mac and Windows
      </div>
    </div>
  </div>

  <div class="header__button header__button_margin">
    <button type="button" class="button button_tall">
      Download For Free Now
    </button>
    <div class="header__button__information">
      Unlimited 30-Days Trial Period
    </div>
  </div>
</header>
  