<div class="pricing">
	<p class="pricing-header">Fork Subscription Pricing</p>
	<div class="flex">
		<div class="card">
			<p class="package-name">STUDENTS</p>
			<p class="cost">$29</p>
			<p class="period">PER MONTH</p>
			<div class="line-sep"></div>
			<p class="personal-license">Personal License</p>
			<button>PURCHASE</button>
		</div>

		<div class="card">
			<p class="package-name">PROFESSIONAL</p>
			<p class="cost">$59</p>
			<p class="period">PER MONTH</p>
			<div class="line-sep"></div>
			<p class="personal-license">Professional License<br> Email Support</p>
			<button>PURCHASE</button>
		</div>

		<div class="card">
			<p class="package-name">AGENCY</p>
			<p class="cost">$99</p>
			<p class="period">PER MONTH</p>
			<div class="line-sep"></div>
			<p class="personal-license">1-12 Team Members<br> Phone Support</p>
			<button>PURCHASE</button>
		</div>

		<div class="card">
			<p class="package-name">ENTERPRISE</p>
			<p class="cost">$159</p>
			<p class="period">PER MONTH</p>
			<div class="line-sep"></div>
			<p class="personal-license">Unlimited Team Members<br> 24/ 7 Phone Support</p>
			<button>PURCHASE</button>
		</div>
	</div>
</div>
