.present-text {
	display: flex;
	flex-direction: column;
	/*   align-items: center; */
	text-align: center;
	margin-top: 66px;
	margin-bottom: 70px;
}

.revolutionary-editor {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #635C73;
	font-size: 54px;
	margin: 70px 0 35px;
	text-align: center;
}

.present-text:nth-child(1) {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 32px;
	color: #323232;
	font-size: 21px;
}

.present-text img {
	margin-top: 15px;
}

.present-text__buttons {
	display: flex;
	//max-width: 47%;
	margin: 0 auto;

	.present-text__button-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 11px;
		font-weight: 700;
		margin: 20px 15px 20px 0;
		padding: 0;

		.button-counter {
			/*   font-size: 10px;
			  border: 1px solid gray;
			  padding: 0 ; */
			border: 1px solid gray;
			font-size: 10px;
			font-weight: 700;
			padding: 0 12px;
			border-radius: 3px;
		}
	}
}

.present-text__button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding:0 10px;
	span{
		margin-left:5px;
		border-left: 1px solid grey;
		padding: 3px;
		display: block;
	}
}

.features {
	background-color: #F4F4F4;
}

.grid {
	display: grid;
	grid-template-areas:
    'section header'
    'section image'
	'section image'
    '. image'
    '. image';
	padding-top: 98px;
	//grid-column-gap: 90px;
	//grid-template-columns: 1fr 2fr;

}

.features__header {
	grid-area: header;
}
.section-wrapper {
	grid-area: section;
}
.image {
	grid-area: image;
	justify-self: end;
	width: 100%;
}

.features__header {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #8D81AC;
	font-size: 48px;
	padding-left: 25px;
}



@media (min-width:1201px) {
	.features {
		width: 100%;
	}
	.grid {
		width: 1200px;
		display: grid;
		grid-row-gap: 15px;
		margin: 0 auto;
		grid-template-areas:
    'section header'
    'section image'
	'section image'
    '. image'
    '. image';
	}
	.sections {
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-template-rows: 1fr;
		justify-items: center;
		align-items: center;
		margin-bottom: 33px;
	}
}

@media (min-width:993px) and (max-width:1200px) {
	.grid {
		display: grid;
		grid-template-areas:
    'section header'
    'section image'
	'section image'
    '. image'
    '. image';
		//grid-template-columns: 1fr 1fr;
		grid-row-gap: 15px;
	}

	.features__header {
		font-size: calc(42px + (6*(0.7))*((100vw - 320px)/1200));
	}

	.sections {
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-template-rows: 1fr;
		justify-items: center;
		align-items: center;
		margin-bottom: 33px;
	}
}

@media (min-width:481px) and (max-width: 992px) {

	.revolutionary-editor {
		font-size: 42px;
	}

	.grid {
		grid-template-areas:
      'header'
      'section'
      'image';
		grid-template-columns: 1fr;
		grid-row-gap: 50px;
	}
	.features {
		background-color: #FFFFFF;
	}
	.features__header {
		padding: 0;
	}

	.image {
		justify-self: end;
		margin-left: 50px;
	}

	.features__header {
		justify-self: center;
		text-align: center;
	}

	.sections {
		grid-template-columns: 1fr 5fr;
	}

	//.section-wrapper {
	//}
}

@media (min-width:320px) and (max-width:480px) {

	.revolutionary-editor {
		font-size: 26px;

		.present-text:last-child {
			font-size: 14px;
		}
	}

	.present-text__buttons {
		display: flex;
		flex-wrap: wrap;
		max-width: 85%;
		margin: 36px auto;
		justify-content: center;

		.present-text__button-wrapper:last-child {
			display: flex;
			flex-grow: 1;
			flex-shrink: 1;
			align-items: center;
			justify-content: center;
			font-size: 11px;
			font-weight: 700;
			margin: 0 10px 0 0;
			padding: 0;


			.button-counter {
				/*   font-size: 10px;
				  border: 1px solid gray;
				  padding: 0 ; */
				border: 1px solid gray;
				font-size: 10px;
				font-weight: 700;
				padding: 0 12px;
				border-radius: 3px;
			}
		}
	}

	.present-text {
		text-align: center;
	}

	.grid {
		grid-template-areas:
      'header'
      'section'
      'image';
		grid-gap: 0;
		grid-template-columns: none;
	}
	.features {
		background-color: #FFFFFF;
	}
	.features__header {
		max-width: 230px;
		justify-self: center;
		text-align: center;
		font-size: 32px;
		width: 100%;
		padding-left: 0;
		margin-bottom: 36px;
	}

	.sections {
		display: grid;
		text-align: center;
	}
	.sections>img {
		margin-bottom: 27px;
	}
	.image {
		object-position: left;
		margin-top: 37px;
	}
}

.sections {
	align-items: center;
	display: grid;
	//grid-template-columns: 1fr 2fr;
	//grid-template-rows: 1fr;
	justify-items: center;
	margin-bottom: 33px;
}

.section-name {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #323232;
	font-size: 16px;
	padding-bottom: 16px;
}

.text>p:last-child {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #848E97;
	font-size: 14px;
	line-height: 21px;
}
