.pricing {
	background-image: url(../images/Layer2.webp);
	padding-top: 112px;
	margin: -6px;
}

.flex {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	padding: 50px 0 97px 0;
	display: flex;
	flex-direction: row;
	grid-gap: 15px;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}

.flex>div {
	max-width: 257px;
	//height: 457px;
}

.flex>div>p {
	color: #FFFFFF;
}

.pricing-header {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #FFFFFF;
	font-size: 48px;
	text-align: center;
	margin: -6px;
}

.package-name {
	font-size: 24px;
	color: #FFFFFF;
	padding: 36px 0 36px 0;

	background-color:rgba(255, 255, 255, 0.06);
}

.cost {
	font-weight: 700;
	font-size: 60px;
	padding: 30px 0 20px 0;
}

.period {
	font-size: 14px;
}

.personal-license {
	flex-grow: 1;
	line-height: 18px;
}

.line-sep {
	width: 60px;
	height: 5px;
	background: #8D81AC;
	align-self: center;
	margin: 38px 0 30px 0;
}

.card {
	display: flex;
	flex-direction: column;
	padding-bottom: 37px;
	box-sizing: border-box;
	transition: all 0.5s ease-out 0.2s;
	background-color:rgba(255, 255, 255, 0.11);
}

.card:first-child .personal-license {
	margin-bottom: 18px;
}

.card:hover {
	width: 300px;
	height: 560px;
	padding-bottom: 47px;
	background-color:rgba(70, 48, 72, 0.84);
}

.card:hover .package-name{
	background-color:rgba(0, 0, 0, 0.11);
	transition: inherit;
}

.card:hover .cost {
	font-size: 82px;
	padding: 14px 0 16px 0;
	transition: inherit;
	/*transition-property: all;*/
	/*transition-delay: 0.5s;*/
}

.card:hover .line-sep {
	margin: 46px 0 40px 0;
	transition: inherit;
}

.card:hover button {
	font-size: 16px;
	width: 190px;
	height: 52px;
	transition: inherit;
}

.card>button {
	color: #FFFFFF;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	border-radius: 30px;
	border: none  ;
	width: 163px;
	height: 45px;
	align-self: center;
	background-color:rgba(255, 255, 255, 0.15);
	margin: 0 47px;
}

@media (min-width: 320px) and (max-width: 480px) {
	.card {
		width: 80%;
		max-width: 257px;
	}
}

@media (min-width: 481px) and (max-width: 992px) {
	.card {

		width:44%;
		/* width: calc(44% / 2 - 1% * 3/4);
		flex-shrink: 1;
		flex-grow: 1;
		max-width: 257px; */
	}
	.flex {
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		padding: 50px 0 97px 0;
		display: flex;
		flex-direction: row;
		grid-gap: 15px;
		align-items: center;
		text-align: center;
		flex-wrap: wrap;
		width: 82%;
		justify-content: center;
		margin: 0 auto;

	}
}

@media (min-width: 993px) and (max-width: 1200px) {

	.flex>div {
		max-width: 257px;
	}

	.card {
		width: calc(25% / 3 - 1% * 3/4);
		flex-shrink: 1;
		flex-grow: 1;
	}
}

@media (min-width: 1201px) {

	.flex>div {
		max-width: 257px;
	}
	.card {
		width: calc(25% / 3 - 1% * 3/4);
		flex-shrink: 1;
		flex-grow: 1;
		max-width: 257px;
	}
}
