[class*="svg-"] { font-size: 20px; position: relative;

	&:before { content: ''; display: block; }

	svg { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

}

.svg-main-dribbble { width: calc(34/20 * 1em);

	&:before { padding-bottom: calc(34 / 34 * 100%); }

}

.svg-main-facebook { width: calc(34/20 * 1em);

	&:before { padding-bottom: calc(34 / 34 * 100%); }

}

.svg-main-pinterest { width: calc(34/20 * 1em);

	&:before { padding-bottom: calc(34 / 34 * 100%); }

}

.svg-main-rss { width: calc(34/20 * 1em);

	&:before { padding-bottom: calc(34 / 34 * 100%); }

}

.svg-main-twitter { width: calc(34/20 * 1em);

	&:before { padding-bottom: calc(34 / 34 * 100%); }

}

