@import "../variables/fonts";
@import "reset";
@import "fonts";
@import "img";
@import "link";
@import "typography";

@import "../variables/fonts";
@import "reset";
@import "fonts";
@import "img";
@import "link";
@import "typography";
@import "sprites/sprite";

html, body {
    
    font-family: Roboto;

}


.container {
    width: 100%;
}
.container-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;

}
.header__body {
    display: flex;
    justify-content: center;
}
.header__list {
    margin: 35px 0;
    display: flex;
    justify-content: space-between;
    width: 820px;
    @media screen and (max-width:780px){
        width: 620px;
    }
     @media screen and (max-width:373px){
    display: none;
    }
    
    
}
.header__list .header__link{
    text-transform: uppercase;
    display: flex;
    padding: 16px 0;
    font-size: 11px;
    font-weight: 400;
    text-decoration: none;
    color: rgba(78, 78, 78, 1);

}
.header__link:hover {
    color: rgba(87, 164, 164, 1);
}
.header__link::first-child {
    padding-left: 0;
}
.main__img {
    align-items: center;
}
.our_recent_posts {
    margin: 56px 0 69px
}

.main_title.posts {
    padding: 0;
}
.main_title.small-text {
    padding: 0;
} 

.main_title {
    padding: 47px 0 24px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(78, 78, 78, 1);
    
}
.posts__wrapper {
    display: flex;
    // max-width: 1110px;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: 767px ){
        display: block;
    }
}


.posts__content {
    display: flex;
    align-items: center;
    max-width: 555px;
    padding-top: 32px;
}
.posts_text {
    padding-left: 21px;
}
.text-center {
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
}
.small-text {
    text-transform: capitalize;
} 
.indent-text {
    padding-top: 5px;
}
.text-bottom {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;

    @media screen and (max-width: 767px ){
        display: none;
    }
}
.instagram_title {
    display: flex;
    justify-content: space-between;

   
}
.instagram_shots {
    padding-bottom: 49px;
    background-color: rgba(245, 245, 245, 1);
}
.instagram_posts{
    display: flex;
    justify-content: space-between;

    max-width: 1200px;
}
.img_post {
    padding-left: 10px;
}
.img_post:last-child {
     @media screen and (max-width:1200px){
            display:none;
        
    }

}
.img_post:nth-child(2)  {
    @media screen and (max-width: 900px){
        display: none;
    }
}
.img_post:nth-child(3) {
    @media screen and (max-width: 768px){
        display: none;
    }
}

.img_post:first-child {
    padding-left: 0;
}
.text_size_small {
    font-size: 13px;
}
.footer{
    padding: 70px 0 70px;
    background-color: #000000;
    text-align: center;
}
.footer_title {
    text-transform: uppercase;
    color: #FEFEFE;
}
.footer_text {
    font-style: normal;
    padding-top: 22px;
    color: #B9B9B9;
    font-weight: 400;
    line-height: 26px;
}

.svg-facebook {
    width: 10px;
}